apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: worker
  name: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - image: dockersamples/examplevotingapp_worker
        name: worker
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "StrongPassword123"
        - name: POSTGRES_DB
          value: "postgres"
        - name: REDIS
          value: redis
        - name: REDIS_PORT
          value: "6379"
        ports:
        - containerPort: 80
          name: worker
      restartPolicy: Always
---